
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f9f9f9;
  color: #333;
}

.container {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

/* Product grid */
.product-grid {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* Product card */

.product-card img {
  max-width: 100% !important;
  height: 240px;
  object-fit: contain;
}

.product-title {
  font-weight: bold;
  margin: 10px 0 5px;
}

.product-price {
  color: #888;
  margin-bottom: 10px;
  
}

/* Toggle button */
.toggle-btn {
  
  width: 100%;
  border: 1px solid black;
  padding: 12px;
  background-color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

}



/* Active toggle */
.toggle-btn.active {
  background: #131413;
  border-color: #000;
  color: #fff;
}

.toggle-btn.active::before {
  transform: translateX(30px);
}

/* Sidebar */
.sidebar {
  flex: 1;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 550px;
}
.discount-top-text{
  margin-bottom: 10px;
}

.progress-bar-container {
  margin-bottom: 15px;
}


progress {
  width: 100%;
  height: 15px;
  margin-top: 5px;
}
#progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  margin-top: 5px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ddd;   
}


#progress::-webkit-progress-bar {
  background-color: #ddd;    
 
}


#progress::-webkit-progress-value {
  background-color: #000; 
}


.selected-products-list {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 250px;
}

.selected-products-list li {
  display: flex;
  margin-bottom: 10px;
}

.selected-products-list img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-right: 10px;
}
.selected-product-detailes{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.quitity-btn{
  display:flex; 
  align-items:center;
   gap:20px;
  background-color: #eee;
  width: 80px;
  padding: 5px 10px;
  text-align: center;
  justify-content: center;
  
}
.qty-btn{
  cursor: pointer;
}
.quitity{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.delete-btn{
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.discount-info,
.subtotal-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  font-size: 1.1em;
}

#add-to-cart-btn {
  padding: 12px;
  background: #888;
  color: white;
  border: none;
  cursor: not-allowed;
  font-weight: bold;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#add-to-cart-btn.enabled {
  background: #000;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .product-card img{
    height: 100%;
  }

  .sidebar {
    order: 2;
    margin-top: 20px;
  }
}
